<div class="w-screen h-screen relative overflow-hidden bg-gray-400">
  <div class="absolute bottom-0 left-0 w-full h-1/2 bg-white md:h-1/2"></div>
  <div class="absolute bottom-0 left-1/2 transform -translate-x-1/5 md:left-[40%] w-11/12 md:w-2/5 flex justify-center items-center  ">
    <img class="border-2 border-white p-4 bg-gray-200 object-cover w-full h-full" src="https://cdn.shopify.com/s/files/1/0818/9686/6071/files/fram_1_with_Backround_Work.webp">
  </div>
  <div class="absolute top-1/2 left-3 transform -translate-y-1/2 w-4/5 md:w-[30%]">
    <h2 class="text-2xl font-semibold mt-14 mb-4">
      <span class="text-red-500">INDULGE IN</span>
      <span class="text-orange-300">ROYALITY</span>
    </h2>
    <p class="text-xl mb-4">
      Elegance and Tradition, unveiled at Theni Anantham Silks. When it comes to wedding attire, Subhalaya silk sarees from Theni Anantham silks stand as a timeless embodiment of...
    </p>
    <button class="border-2 border-orange-300 hover:border-none hover:bg-orange-300 px-6 py-2">Read More</button>
  </div>
</div>
