@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
body, html {
  overflow-x: hidden;
  width: 100%;
}
main{
  margin-top: 85px;
  background-color: #D3D3D3;
}
.headerlogo{
  font-family: 'Roboto', sans-serif;
}
.nav-item {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  vertical-align: middle;
}
.bgimage1 {
  height: 80vh;
  background-image: url("https://cdn.shopify.com/s/files/1/0507/2502/8038/files/hometheni1.jpg");
  background-position: 0px 0px;
  background-size: cover;
}
.bgimage2 {
  height: 80vh;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header-content {
  flex-shrink: 0;
}

.text-content {
  width: 80%;
  margin: auto;
  background: white;
  overflow: auto;
  padding: 16px;
}
.textinshadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.carousel-container {
  overflow: hidden;
  height: 100%;
}
.carousel-slides {
  display: flex;
  transition: all 0.5s;
}
.carousel-slides img {
  transition: transform 0.3s ease-in-out;
}
.homepage2img1{
  background-image: url("https://cdn.shopify.com/s/files/1/0818/9686/6071/files/fram_4_with_Backround_Work.webp");
  background-size: cover;
}
.homepage2img2{
  background-image: url("https://cdn.shopify.com/s/files/1/0818/9686/6071/files/fram_5_with_Backround_Work.webp");
  background-size: cover;
}
.homepage2img3{
  background-image: url("https://cdn.shopify.com/s/files/1/0818/9686/6071/files/fram_2_with_Backround_Work.webp");
  background-size: cover;
}
.shop-text {
  background-color: aliceblue;
  position: absolute;
  bottom: 10%; 
  right: 0%;  
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 8px; 
}

.arrow-icon {
  width: 24px;
  height: 24px;
}

.md\:object-position-25-75 {
  object-position: 25% 75%;
}

